body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.qr-img{
    width: 100%;
    border-radius: 10px;
}

.qr-card{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
}

.qr-card h1{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 1px 0;
    color: hsl(218, 44%, 22%);
}

.qr-card h5{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}